<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
	<% if @post.has_photo? %>
		<%= image_tag @post.photo_path %>
	<% else %>
		<b>Problema al subir la foto</b>
	<% end %>
</p>

<% if current_user %>
	<%= link_to 'Edit', edit_post_path(@post) %> 
<% end %>

<%= link_to 'Back', posts_path %>	

