<h1>Listing usernames</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usernames.each do |username| %>
      <tr>
        <td><%= username.username %></td>
        <td><%= username.email %></td>
        <td><%= link_to 'Show', username %></td>
        <td><%= link_to 'Edit', edit_username_path(username) %></td>
        <td><%= link_to 'Destroy', username, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%# <%= link_to 'New Username', new_username_path %>
